html {
    height: fit-content;
}

* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 100px;
    background-color: #ebba90;
    background-image: url(images.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header {
    padding-left: 450px;
    color: rgb(216, 9, 9);
    font-family: 'Comic sans', cursive;
}

header h1 {
    padding: 10px;
    font-size: 80px;
    text-align: left;
}

.taskform {
    display: flex;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    text-align: right;
    text-align: left;
    flex: 1;
    font-size: 20px;
    font-family: cursive;
    margin-right: 306px;
    margin-left: 10px;
}

.taskinput {
    flex: 1 1 0%;
    background-color: rgb(233, 201, 163);
    padding: 1rem;
    padding-left: 20px;
    padding-right: 199px;
    border-radius: 1rem;
    margin-right: 1rem;
    color: #682e28;
    font-size: 20px;
    margin-left: -92px;
}

/* .taskinput::placeholder{
    color: auto;
   } */

#tasksubmit {
    width: 10cm;
    color: white;
    padding: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    appearance: initial;
    border-color: black;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    background-color: #008CBA;
    display: inline-block;
    text-align: center;
    border-radius: 1rem;
}

#tasksubmit:hover {
    background-color: blue;
}

main {

    color: rgb(248, 245, 245);
    font-family: 'Comic sans', cursive;
    flex: 110%;
    max-width: 800px;
    margin: 40px auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 19px;

}

main h2 {
    background-color: rgb(216, 9, 9);
    border-radius: 4px;
    padding: 8px;
    text-align: left;
    justify-content: space-between;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 20px;
}


.tasks {

    padding-right: 0px;
    padding-left: 0px;

}

.tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    padding: 8px;
    padding-right: 300px;
    margin-top: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500px;
}

.task.content {
    flex: 110%;
}

.task.content.text {

    font-size: 100px;
    width: 100%;
    display: block;

}

.task .actions {
    display: flex;
    margin-right: 10px;
}

.task .actions button {
    cursor: pointer;
    margin-right: 25px;
    font-size: 15px;
    font-weight: 400;

}